*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 1200px;
  margin: 50px auto;
}
.buttons{
  display: grid;
  width: 800px;
  grid-template-columns: 200px 200px 200px;
  float: left;
  column-gap: 10px;
  row-gap: 1em;
}
.inactive{
  background-color: rgb(202, 85, 161);
  cursor: not-allowed;
  pointer-events: none;
}
.active{
  background-color: rgb(53, 226, 116);
}
button:active{
  background-color: aqua;
}
.selected-button{
  background-color: #461ddc;
}

.react-calendar{
  margin-top: 10px;
  float: left;
  margin-right: 50px;
}
.clearfix::after{
  clear: both;
  content: "";
  display: block;
}

.btn{
  margin-top: 10px;
  margin-left: 20%;
  color: #e6e6ec;
  background-color: #4d53bb;

}

a {
  font-weight: 500;
  color: #1e259d;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
